# Ignore the the executable folders
bin/
o/
d/

# Ignore the qt creator specific code
sarb-project-qt-creator.config
sarb-project-qt-creator.creator
sarb-project-qt-creator.files
sarb-project-qt-creator.includes
sarb-project-qt-creator.creator.user


